In [77]:
import requests
import json
import mysql.connector
import numpy as np
from decimal import Decimal
from mysql.connector import Error
from collections import namedtuple
from antares_http import antares
    
url = "https://platform.antares.id:8443/~/antares-cse/antares-id/power_management/token/la"
payload = ""
headers = {
    'X-M2M-Origin': "f0a8c253151082fa:a32e0b8df59ac9d6",
    'Content-Type': "application/json;ty=4",
    'Accept': "application/json",
    'cache-control': "no-cache"
}
    
response = requests.request("GET", url, data=payload, headers=headers).json()
data = response
result = json.loads(data['m2m:cin']['con'] , object_hook=lambda d: namedtuple('X', d.keys())(*d.values()))

token = result.token

In [78]:
try:
    connection = mysql.connector.connect(host='localhost',
                                         database='ta',
                                         user='root',
                                         password='')

    sql_select_Query = "select id_device, nama, prioritas, jam, total_daya from device order by prioritas asc"
    cursor = connection.cursor()
    cursor.execute(sql_select_Query)
    records = cursor.fetchall()
    prioritas = [0 for i in range(10)]
    jam = [0 for i in range(10)]
    total_daya = [0 for i in range(10)]
    beban = [0 for i in range(10)]
    total_beban = 0.0
    print("Total number of rows in Device is: ", cursor.rowcount)
    jumlah_data = cursor.rowcount
    print("\nPrinting each record")
    print("ID Device         Nama Device           Prioritas          Jam           Total Daya(KWh)")
    no = 0
    for row in records:
        id_device = row[0];
        nama_device = row[1]
        prioritas[no] = row[2]
        jam[no] = row[3]
        total_daya[no] = row[4]
        beban[no] = jam[no] * total_daya[no]
        total_beban += beban[no]
        print('{0}                  {1}              {2}                 {3}               {4}'.format(id_device, nama_device, prioritas[no], jam[no], total_daya[no]))
        print("Beban = ", beban[no])
        print("\n")
        no = no + 1
    print('Total Beban = ', round(total_beban,2),"KWh")
    print('Token = ', token)
    print('\n')
except Error as e:
    print("Error reading data from MySQL table", e)
finally:
    if (connection.is_connected()):
        connection.close()
        cursor.close()

Total number of rows in Device is:  9

Printing each record
ID Device         Nama Device           Prioritas          Jam           Total Daya(KWh)
17                  Server              1                 24               0.9
Beban =  21.6


9                  Komputer              2                 8               1.0
Beban =  8.0


11                  Mesin Fotocopy              3                 8               1.2
Beban =  9.6


14                  Printer              4                 8               0.05
Beban =  0.4


23                  Pompa Air              5                 24               0.125
Beban =  3.0


18                  AC              6                 8               0.6
Beban =  4.8


19                  Amplifier              7                 24               0.23
Beban =  5.5200000000000005


13                  Speaker              8                 2               0.09
Beban =  0.18


15                  Lampu              9                 12               0.15
Beban =  1.7999999999999998


Total Beban =  54.9 KWh
Token =  50

In [79]:
b = 0
total = [0 for i in range(10)]
status = [0 for i in range(10)]
total[0]=beban[0]
total[1]=beban[1]+total[0]
total[2]=beban[2]+total[1]
total[3]=beban[3]+total[2]
total[4]=beban[4]+total[3]
total[5]=beban[5]+total[4]
total[6]=beban[6]+total[5]
total[7]=beban[7]+total[6]
total[8]=beban[8]+total[7]
total[9]=beban[9]+total[8]
for i in range (jumlah_data):
    if(total[i] <= token):
        status[i] = 1
    elif(total[i] > token):
        status[i] = 0
for a in range (jumlah_data):
    print("status :", status[a], total[a])

status : 1 21.6
status : 1 29.6
status : 1 39.2
status : 1 39.6
status : 1 42.6
status : 1 47.4
status : 0 52.92
status : 0 53.1
status : 0 54.9

In [80]:
s_total = 0
token1 = token
for i in range(10):
    s_total = s_total + status[i]
perhari = 0
for j in range(s_total):
    perhari = perhari + beban[j]
token1 = token1 - perhari
print(token1)

2.6000000000000014

In [81]:
data = {
    "status_p1": status[0],
    "status_p2": status[1],
    "status_p3": status[2],
    "status_p4": status[3],
    "status_p5": status[4],
    "status_p6": status[5],
    "status_p7": status[6],
    "status_p8": status[7],
    "status_p9": status[8],
    "status_p10": status[9],
    "token": token1
}
antares.setAccessKey('f0a8c253151082fa:a32e0b8df59ac9d6')
antares.send(data, 'power_management', 'token')
for x in range(jumlah_data):
        connection = mysql.connector.connect(host='localhost', database='ta', user='root',password='')
        cursor = connection.cursor()
        sql_update = "UPDATE status SET status =  %s WHERE id_status = %s"
        inputData = (status[x], x+1)
        cursor.execute(sql_update, inputData)
        connection.commit()